<div style="text-align: center">
  <h1>Welcome to normal-user!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Extensible Build Framework"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
<!--<div *ngIf="tasks$ | async as tasksInfo">-->
  <div *ngFor="let task of tasks$ | async">
    <p>{{ task.id }}</p>
    <p>{{ task.description }}</p>
    <img src={{task.image}}>

    <p>fav: {{ task.favorite }}</p>

  </div>
  
<!--</div>-->
